@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* roboto font-family: 'Roboto', sans-serif; */
/* * { 
  font-family: "Raleway", sans-serif;we
}*/
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border: 1px;
  border-bottom-style: solid;
  border-color: rgba(236, 236, 236, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  color: rgba(33, 150, 243, 1);
  padding: 24px 0px;
  margin: 0 93px 0 0;
}
.header__logo:focus {
  color: rgba(33, 150, 243, 1);
  outline: none;
}
.nav__link {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
}
.nav__link:hover {
  color: rgba(33, 150, 243, 1);
}
.nav__link:focus {
  color: rgba(33, 150, 243, 1);
  outline: none;
}
.nav__link--current {
  color: rgba(33, 150, 243, 1);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -34px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
}
.header-hidden {
  visibility: hidden;
  font-size: 0%;
}
.section-title__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(117, 117, 117, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.nav__item:hover {
  color: rgba(33, 150, 243, 1);
}
.nav__item:focus {
  outline: none;
  color: rgba(33, 150, 243, 1);
}
.btn-contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  width: 261px;
  margin-bottom: 190px;
  padding: 10px 32px 10px 32px;
}
.skills__items {
  list-style: none;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(117, 117, 117, 1);
  display: flex;
  margin: 95px 0px 0px;
  column-gap: 30px;
  padding: 0;
}
.skills-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.skill__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: rgba(33, 33, 33, 1);
}
.section-business__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
}
.section-business {
  padding: 94px 0;
}
.section-team__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  margin-top: 94px;
}
.section-team__member-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}
.section-team__paragraph {
  font-size: 16px;
  line-height: 1.171;
  color: rgba(117, 117, 117, 1);
  text-align: center;
}
.footer {
  background-color: rgba(47, 48, 58, 1);
  padding: 60px 0;
}
.address__items {
  width: 231px;
  height: 100px;
  padding: 0;
  list-style: none;
}
.address__item {
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.address__item:hover {
  color: rgba(33, 150, 243, 1);
}
.address__item:focus {
  color: rgba(33, 150, 243, 1);
}
.filter__btn {
  padding: 6px 26px;
  border: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: rgba(33, 33, 33, 1);
  background: rgba(245, 244, 250, 1);
  text-align: center;
  cursor: pointer;
  transition: color, background-color 250ms, 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1) 250ms, 250ms;
}
.filter__btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.filter__btn:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.projects__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: rgba(33, 33, 33, 1);
  margin: 0%;
  padding-left: 24px;
}
.projects__paragraph {
  font-size: 16px;
  line-height: 1.875;
  color: rgba(117, 117, 117, 1);
  margin: 0%;
  padding-left: 24px;
}
.nav {
  border: 1px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}
.nav__links {
  display: flex;
  margin: 0 306px 0 0;
  padding: 32px 0px;
  column-gap: 50px;
  list-style: none;
}
.nav__items {
  display: flex;
  align-items: center;
  margin: 32px 19px 32px 0px;
  padding: 0;
  column-gap: 30px;
  list-style: none;
}
.nav__item-svg {
  margin: auto 10px auto 0;
}
.section-title {
  background-color: rgba(47, 48, 58, 1);
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
.section-title--bg {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/images-hw-4/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-title__heading {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  margin: 0 237px 40px;
  padding: 200px 0 0;
  text-align: center;
}
svg {
  fill: currentColor;
}
.skills-svg {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border-color: rgb(245, 244, 250);
  padding: 25px 100px;
}
.skills__item {
  width: 270px;
}
.heading-container {
  width: 371px;
  height: 46px;
  margin: 0px 409px 55px 420px;
}
.business__item {
  list-style: none;
  display: flex;
  padding: 0%;
  gap: 30px;
  position: relative;
}
.business__item > .business__item--bg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
  margin: 0;
  bottom: 0%;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: rgba(245, 244, 250, 1);
}
.section-team__members {
  list-style: none;
  display: flex;
  padding-top: 50px;
  padding-left: 0;
  padding-bottom: 94px;
  gap: 37px;
  margin: 0%;
}
.section-team__member {
  background-color: rgba(255, 255, 255, 1);
}
.icon {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.icon__container {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.icon__container:hover {
  background-color: rgba(33, 150, 243, 1);
}
.icon__container:hover .icon {
  fill: rgba(255, 255, 255, 1);
}
.icon__container:focus-within {
  background-color: rgba(33, 150, 243, 1);
  outline: none;
}
.icon__container:focus-within .icon {
  fill: rgba(255, 255, 255, 1);
  outline: none;
}
.icons {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0 32px;
  padding: 16px 0 30px 0;
}
.address {
  display: flex;
  flex-direction: column;
}
.address__logo {
  width: 145px;
  height: 31px;
  margin: 0px 0px 9px 0px;
  column-gap: 30px;
}
.main-portfolio {
  margin: 0px 0px 82px 0px;
  border-radius: 1px;
  border-color: rgba(238, 238, 238, 1);
}
.filter__items {
  display: flex;
  margin-top: 106px;
  margin-left: 280px;
  margin-bottom: 50px;
  padding: 0%;
  gap: 8px;
  list-style: none;
}
.projects__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.projects__item {
  width: 370px;
  height: 404px;
  border: 1px ridge rgba(238, 238, 238, 1);
}
.projects__item:hover {
  border: 1px ridge;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.secttion-customers__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.171;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  padding: 59px 0 44px 0;
}
.customers {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0 0 101px 0;
  margin: 0;
}
.customer {
  display: flex;
  width: 170px;
  height: 71px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(175, 177, 184, 1);
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.customer__logo {
  width: 106px;
  height: 52px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.customer:hover {
  border: 1px solid rgba(33, 150, 243, 1);
}
.customer:hover .customer__logo {
  fill: rgba(33, 150, 243, 1);
}
.customer:focus-within {
  border: 1px solid rgba(33, 150, 243, 1);
  fill: rgba(33, 150, 243, 1);
  outline: none;
}
.customer:focus-within .customer__logo {
  fill: rgba(33, 150, 243, 1);
  outline: none;
}
.networks__heading {
  font-size: 14px;
  line-height: 1.172;
  color: rgba(255, 255, 255, 1);
}
.networks {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin: 0 0 0 70px;
}
.networks__items {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 20px 0 0 0;
}
.networs__logo {
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
}
.networks__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.icon-iten-footer:hover {
  background-color: rgba(33, 150, 243, 1);
}
.icon-iten-footer:focus-within {
  background-color: rgba(33, 150, 243, 1);
  outline: none;
}
.footer__container {
  display: flex;
}
.projects__container {
  position: relative;
  overflow: hidden;
}
.projects__text {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.54px;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.projects__item:hover .projects__text {
  top: 0;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transform: scale(1);
}
.modal {
  width: 528px;
  height: 581px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
}
.modal__heading {
  text-align: center;
  padding: 0px 40px 0 40px;
  margin: 40px 0 0 0;
}
.modal-container {
  width: 448px;
  margin: 12px auto;
  box-sizing: content-box;
}
.modal-form__container {
  position: relative;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__label {
  margin: 10px 0 4px 0;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.modal-form__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 11px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form__icon {
  width: 18px;
  height: 18px;
  fill: rgba(33, 33, 33, 1);
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover {
  border: 1px solid rgba(33, 150, 243, 1);
}
.modal-form__input:hover + .modal-form__icon {
  fill: rgba(33, 150, 243, 1);
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid rgba(33, 150, 243, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: rgba(33, 150, 243, 1);
}
.modal-form__textarea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  outline: none;
  border: 1px solid rgba(33, 150, 243, 1);
}
.modal-form__textarea:hover {
  border: 1px solid rgba(33, 150, 243, 1);
}
.verification {
  width: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  gap: 8px;
}
.verification__checkbox {
  width: 16px;
  height: 15px;
  fill: rgba(33, 33, 33, 1);
}
.verification__label {
  width: 400px;
  height: 24px;
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.verification__btn {
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  border-radius: 4px;
  border: 1px solid;
  background: rgb(24, 140, 232);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 30px auto;
  padding: 0;
  cursor: pointer;
}
.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transform: scale(-1);
}
.button-container {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
}
.button-close {
  display: flex;
  position: relative;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  padding: 0%;
  cursor: pointer;
}
.button__svg {
  width: 18px;
  height: 18px;
  color: rgba(0, 0, 0, 1);
}
.button__svg:hover {
  color: rgba(33, 150, 243, 1);
}
.suscriptions {
  width: 570px;
  padding: 0 0 0 93px;
  box-sizing: content-box;
}
.form-suscriptions {
  display: flex;
}
.suscriptions__heading {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.form-suscriptions__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-suscription:hover {
  border: 1px solid rgba(33, 150, 243, 1);
}
.bg-suscription:focus {
  outline: none;
  border: 1px solid rgba(33, 150, 243, 1);
}
.form-suscriptions__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 12px;
  padding: 0;
  gap: 20px;
}
.form-suscriptions__btn-icon {
  width: 24px;
  height: 24px;
  fill: rgb(255, 255, 255);
  padding: auto;
}
