.skills__items {
  list-style: none;
  display: flex;
  margin: 95px 0px 0px;
  column-gap: 30px;
  padding: 0;
}
.skills__item {
  width: 270px;
  font-size: 14px;
  line-height: 1.714;
  color: $gray-color;
}
.skills-svg {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border-color: rgb(245, 244, 250);
  padding: 25px 100px;
}
.skill__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  color: $secondary-color;
}
