$body-font-color: rgb(0, 0, 0);
$white-color: rgba(255, 255, 255, 1);
$blue-color: rgba(33, 150, 243, 1);
$secondary-color: rgba(33, 33, 33, 1);
$gray-color: rgba(117, 117, 117, 1);
$fill-color: rgba(175, 177, 184, 1);
$heading-color: rgba(33, 33, 33, 1);
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: "Roboto", sans-serif;
$secondary_font: "Raleway", sans-serif;
